html {
	font-family: 'Trebuchet MS', Sans-serif;
	text-align: center;
}

.header {
	text-align: center;
}

.forecast {
	margin-top: 50px;
}

.forecast-list {
	display: flex;
	justify-content: center;
	margin: 25;
	flex-wrap: wrap;
}

.forecast-temp {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 33.3333%;
	flex-basis: 200px;
}

.forecast-high {
	font-size: 25px;
}

.search-bar {
	margin: 10px;
}